body {
  background-color: #8364ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* 讓文字和按鈕群組垂直排列 */
.content-wrapper {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: center;    /* 水平置中 */
  gap: 20px;       /* 文字與按鈕之間的間距 */
}

.button-group {
  display: flex;
  gap: 10px;
}

p {
  color: #FFFFFF;
  font-size: 32px;
  margin: 0;
}

button {
  padding: 6px 12px;
  cursor: pointer;
  border: solid 3px #FFFFFF;
  border-radius: 12px;
  font-size: 24px;
  transition: 1s;
  background-color: transparent; /* 透明背景 */
  color: #FFFFFF;                /* 修改文字顏色為白色 */
}

button:hover {
  background-color: #FFFFFF33;
  transform: translateY(5px);
}

button:active {
  background-color: #FFFFFF;
  transform: translateY(0px);
  transform: scale(0.95);
}

.txt {
  font-size: 10px;
}
