body {
  background: #8364ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* 讓文字和按鈕群組垂直排列 */
.content-wrapper {
  display: flex;
  flex-direction: column; /* 垂直排列 */
  align-items: center;    /* 水平置中 */
  gap: 20px;       /* 文字與按鈕之間的間距 */
}

.button-group {
  display: flex;
  gap: 10px;
}

p {
  color: #FFFFFF;
  font-size: 32px;
  margin: 0;
}

.txt {
  font-size: 12px;
}
